In [1]:
# Technical challenge DE

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import requests

from citipy import citipy

/var/folders/wb/w8733cqs7_sffw0hk4dmjv1h0000gn/T/ipykernel_58578/2038386980.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
# Import the dataset
flights_inf = 'challenge_dataset.csv'

# Create the flight Dataframe
flights_df = pd.read_csv(flights_inf)

flights_df.head(10)

,origin,destination,airline,flight_num,origin_iata_code,origin_name,origin_latitude,origin_longitude,destination_iata_code,destination_name,destination_latitude,destination_longitude
0,TLC,MTY,4O,104,TLC,Licenciado Adolfo Lopez Mateos International A...,19.3371,-99.5660,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
1,MTY,TLC,4O,119,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070,TLC,Licenciado Adolfo Lopez Mateos International A...,19.3371,-99.5660
2,MEX,MTY,4O,2100,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
3,MTY,MEX,4O,2101,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721
4,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
5,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
6,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
7,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
8,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070
9,MEX,MTY,4O,2102,MEX,Licenciado Benito Juarez International Airport,19.4363,-99.0721,MTY,General Mariano Escobedo International Airport,25.7785,-100.1070

In [4]:
# Get unique origin and destination combinations
unique_flights = flights_df.groupby(['origin_iata_code', 'destination_iata_code']).size().reset_index(name='Conteo')

# Get the latitudes and longitudes for each unique combination
for index, row in unique_flights.iterrows():
    origin = row['origin_iata_code']
    destination = row['destination_iata_code']
    latitude_origin = flights_df.loc[flights_df['origin_iata_code'] == origin, 'origin_latitude'].iloc[0]
    longitude_origen = flights_df.loc[flights_df['origin_iata_code'] == origin, 'origin_longitude'].iloc[0]
    latitude_destination = flights_df.loc[flights_df['destination_iata_code'] == destination, 'destination_latitude'].iloc[0]
    longitude_destination = flights_df.loc[flights_df['destination_iata_code'] == destination, 'destination_longitude'].iloc[0]
    unique_flights.at[index, 'origin_latitude'] = latitude_origin
    unique_flights.at[index, 'origin_longitude'] = longitude_origen
    unique_flights.at[index, 'destination_latitude'] = latitude_destination
    unique_flights.at[index, 'destination_longitude'] = longitude_destination
    
df_unique_flights = pd.DataFrame(unique_flights)
df_unique_flights.tail(20)

,origin_iata_code,destination_iata_code,Conteo,origin_latitude,origin_longitude,destination_latitude,destination_longitude
70,MTY,GDL,1,25.7785,-100.1070,20.5218,-103.3110
71,MTY,MEX,25,25.7785,-100.1070,19.4363,-99.0721
72,MTY,MIA,9,25.7785,-100.1070,25.7932,-80.2906
73,MTY,TLC,2,25.7785,-100.1070,19.3371,-99.5660
74,OAX,MEX,1,16.9999,-96.7266,19.4363,-99.0721
75,PBC,DFW,1,19.1581,-98.3714,32.8968,-97.0380
76,PVR,DFW,5,20.6801,-105.2540,32.8968,-97.0380
77,PVR,MEX,10,20.6801,-105.2540,19.4363,-99.0721
78,PXM,MEX,2,15.8769,-97.0891,19.4363,-99.0721
79,QRO,DFW,20,20.6173,-100.1860,32.8968,-97.0380
80,SLP,DFW,16,22.2543,-100.9310,32.8968,-97.0380
81,TAM,MEX,29,22.2964,-97.8659,19.4363,-99.0721
82,TIJ,MEX,2,32.5411,-116.9700,19.4363,-99.0721
83,TLC,MTY,2,19.3371,-99.5660,25.7785,-100.1070
84,TRC,DFW,1,25.5683,-103.4110,32.8968,-97.0380
85,VER,MEX,16,19.1459,-96.1873,19.4363,-99.0721
86,VER,MID,2,19.1459,-96.1873,20.9370,-89.6577
87,VSA,MID,3,17.9970,-92.8174,20.9370,-89.6577
88,ZCL,MEX,1,22.8971,-102.6870,19.4363,-99.0721
89,ZIH,MEX,5,17.6016,-101.4610,19.4363,-99.0721

In [5]:
# Get each location from both the origin and destination columns
places = pd.concat([df_unique_flights['origin_iata_code'], df_unique_flights['destination_iata_code']])

# Remove duplicate values ​​from places column
unique_places = places.drop_duplicates()

# Create a list to store temporary DataFrames
dfs = []

# Iterate over unique locations to get their latitudes and longitudes
for place in unique_places:
    latitude = df_unique_flights.loc[df_unique_flights['origin_iata_code'] == place, 'origin_latitude'].iloc[0] if place in df_unique_flights['origin_iata_code'].values else df_unique_flights.loc[df_unique_flights['destination_iata_code'] == place, 'destination_latitude'].iloc[0]
    longitude = df_unique_flights.loc[df_unique_flights['origin_iata_code'] == place, 'origin_longitude'].iloc[0] if place in df_unique_flights['origin_iata_code'].values else df_unique_flights.loc[df_unique_flights['destination_iata_code'] == place, 'destination_longitude'].iloc[0]
 
    df_temp = pd.DataFrame({'place': [place], 'latitude': [latitude], 'longitude': [longitude]})
    dfs.append(df_temp)
    df_places = pd.concat(dfs, ignore_index=True)

# Print the DataFrame of places with latitudes and longitudes
print(df_places)

   place  latitude  longitude
0    ACA  16.75710  -99.75400
1    AGU  21.70560 -102.31800
2    BJX  20.99350 -101.48100
3    CJS  31.63610 -106.42900
4    CME  18.65370  -91.79900
5    CTM  18.50470  -88.32680
6    CUN  21.03650  -86.87710
7    CUU  28.70290 -105.96500
8    CZM  20.52240  -86.92560
9    GDL  20.52180 -103.31100
10   HMO  29.09590 -111.04800
11   HUX  15.77530  -96.26260
12   MEX  19.43630  -99.07210
13   MID  20.93700  -89.65770
14   MTY  25.77850 -100.10700
15   OAX  16.99990  -96.72660
16   PBC  19.15810  -98.37140
17   PVR  20.68010 -105.25400
18   PXM  15.87690  -97.08910
19   QRO  20.61730 -100.18600
20   SLP  22.25430 -100.93100
21   TAM  22.29640  -97.86590
22   TIJ  32.54110 -116.97000
23   TLC  19.33710  -99.56600
24   TRC  25.56830 -103.41100
25   VER  19.14590  -96.18730
26   VSA  17.99700  -92.81740
27   ZCL  22.89710 -102.68700
28   ZIH  17.60160 -101.46100
29   DFW  32.89680  -97.03800
30   BOG   4.70159  -74.14690
31   BZE  17.53910  -88.30820
32   CLT  35.21400  -80.94310
33   JFK  40.63980  -73.77890
34   MIA  25.79320  -80.29060
35   ORD  41.97860  -87.90480
36   IAH  29.98440  -95.34140
37   PHX  33.43430 -112.01200
38   AMS  52.30860    4.76389
39   ATL  33.63670  -84.42810
40   CDG  49.01280    2.55000
41   CEN  27.39260 -109.83300
42   GUA  14.58330  -90.52750
43   HAV  22.98920  -82.40910
44   LAX  33.94250 -118.40800
45   LIM -12.02190  -77.11430
46   MAD  40.47190   -3.56264
47   MZT  23.16140 -106.26600
48   PHL  39.87190  -75.24110
49   SCL -33.39300  -70.78580
50   YVR  49.19390 -123.18400
51   YYZ  43.67720  -79.63060

In [7]:
# Create a list of tuples with latitudes and longitudes from df_places
lats_lngs = [(row.latitude, row.longitude) for row in df_places.itertuples(index=False)]

lats_lngs

[(16.7571, -99.754),
 (21.7056, -102.318),
 (20.9935, -101.481),
 (31.6361, -106.429),
 (18.6537, -91.799),
 (18.5047, -88.3268),
 (21.0365, -86.8771),
 (28.7029, -105.965),
 (20.5224, -86.9256),
 (20.5218, -103.311),
 (29.0959, -111.048),
 (15.7753, -96.2626),
 (19.4363, -99.0721),
 (20.937, -89.6577),
 (25.7785, -100.107),
 (16.9999, -96.7266),
 (19.1581, -98.3714),
 (20.6801, -105.254),
 (15.8769, -97.0891),
 (20.6173, -100.186),
 (22.2543, -100.931),
 (22.2964, -97.8659),
 (32.5411, -116.97),
 (19.3371, -99.566),
 (25.5683, -103.411),
 (19.1459, -96.1873),
 (17.997, -92.8174),
 (22.8971, -102.687),
 (17.6016, -101.461),
 (32.8968, -97.038),
 (4.70159, -74.1469),
 (17.5391, -88.3082),
 (35.214, -80.9431),
 (40.6398, -73.7789),
 (25.7932, -80.2906),
 (41.9786, -87.9048),
 (29.9844, -95.3414),
 (33.4343, -112.012),
 (52.3086, 4.76389),
 (33.6367, -84.4281),
 (49.0128, 2.55),
 (27.3926, -109.833),
 (14.5833, -90.5275),
 (22.9892, -82.4091),
 (33.9425, -118.408),
 (-12.0219, -77.1143),
 (40.4719, -3.56264),
 (23.1614, -106.266),
 (39.8719, -75.2411),
 (-33.393, -70.7858),
 (49.1939, -123.184),
 (43.6772, -79.6306)]

In [8]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in lats_lngs:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
        
# Print the city count 
len(cities)

52